<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css"/>
    <script src="static/script.js"></script>
</head>
<body class="background1" background="static/Grupo_1.png">
    <h1 id="titlu">Black-Faded Physics Community</h1>
    <hr/>
    <div class="div">
    <table class="inceput" cellspacing="10">
        <tr>
            <td class="table">
                <a class="def"
                   href="/pagina_principala">Descriere</a>
            </td>
            <td>
                <a class="def"
                   href="/materiale">
                    Materiale compozite</a>
            </td>
            <td>
                <a class="def"
                   href="/calcul_rezistente">Calculator-Rezistente</a>
            </td>
            <td>
                <a class="def"
                   href="/legea_Ohm">Legea lui Ohm</a>
            </td>
            <td>
                <a class="def"
                   href="/rezistenta_serie">Rezistanta in serie</a>
            </td>
            <td>
                <a class="def"
                   href="/rezistenta_paralel">Rezistenta in paralel</a>
            </td>
        </tr>
    </table>
    </div>
    {% block content %} {%endblock %}
</body>
</html>