<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css"/>
    <script src="static/script.js"></script>
</head>
    <body class="background" background="static/background.jpg">
        <h1 class="titlu">Black-Faded Physics Community<br>
            Bine ai venit!<br>
            ...Just be yourself...
        </h1>
        <img class="login_poze1" src="static/maxwell.png"/>
        <img class="login_poze2" src="static/newton.jpg"/>
        <a class="buton" href="/pagina_principala">Login Guest</a>
    </body>
</html>
