<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina principala</title>
    <link rel="stylesheet" href="static/style.css"/>
    <script src="static/script.js"></script>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="box">
            <p class="text">Black faded a început dintr-un simplu proiect
                al studenților Universității Babeș-Bolyai<br>
                prin care să ofere elevilor cât și doritorilor de cunoastere
                un ajutor privind aspectele teoretice și practice din jurul
                nostru de zi cu zi.<br> De la fenomene meteo, la cum
                functioneaza cu adevărat sistemul electric din casele
                noastre, de ce un principiu de transformare<br> poate
                realiza un motor, cum se poate realiza căldura doar
                printr-o singură ciocnire si multe alte subiecte
                în lumea asta.
            </p>
        </div>
    {% endblock content %}
</body>
</html>